@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat/Montserrat-Regular.ttf')
  }

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
}

#top_information_panel {
    /*width: 95vw;
    height: 45vh;*/
    display: flex;
}

#bar_graph {
    width: 600px;
    height: 300px;
    padding: 15px;
}

#bar_svg {
    height: 100%;
    width: 100%;
}

#protein_info {
    /*width: 30vw;
    height: 45vh;
    display: inline-block;
    overflow: hidden;*/
    width: 300px;
    height: 325x;
}

#protein_name_header {
    align-content: center;
    margin-top: 15px;
}

#protein_image {
    height: 30%;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#protein_name_row {
    display: flex;
    margin-top: 15px;
}

#name_label {
    padding-left: 25px;
}

#protein_name {
    color: #F25757;
    padding-left: 5px;
}

#protein_symbol3_row {
    display: flex;
    margin-top: 5px;
}

#symbol3_label {
    padding-left: 25px;
}

#symbol3 {
    color: #F25757;
    padding-left: 5px;
}

#protein_symbol1_row {
    display: flex;
    margin-top: 5px;
}

#symbol1_label {
    padding-left: 25px;
}

#symbol1 {
    color:#F25757;
    padding-left: 5px;
}

#formula_row {
    display: flex;
    margin-top: 5px;
 }

 #formula_label {
     padding-left: 25px;
 }

 #formula {
     color: #F25757;
     padding-left: 5px;
 }

#protein_weight_row {
   display: flex;
   margin-top: 5px;
}

#weight_label {
    padding-left: 25px;
}

#weight {
    color: #F25757;
    padding-left: 5px;
}

#bottom_panel {
    display: flex;
}

#description_panel {
    width: 300px;
    height: 300px;
    overflow: scroll;
    padding: 10px;
}

#mass_graph {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 320px;
}

#spectrum_svg {
    width: 500px;
    height: 200px;
    margin-top: 30px;
    margin-left: 25px;
    align-content: center;
}

#peptide {
    justify-content: space-between;
    width: 300px;
    margin-left: 150px;
    display: flex;
    color: #f4e285;
}

#mass_graph_prompt {
  padding-top: 5px;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  float: right;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}


.selectedPeps {
    color : #F25757;
}

/* Code for Slider: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
    justify-content: center;
    width: 50%;
    margin-left: 150px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F25757;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F25757;
    cursor: pointer;
  }


#bar_graph, #protein_info, #description_panel, #mass_graph {
    border-radius: 20px;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
    box-shadow: 3px 3px #e2e2e2
}

#description_panel > h1 {
    margin: 10px 0px;
}

#proteins {
    width: 100%;
    word-wrap: break-word;
}

.selected {
    background-color: #f4e285;
}

span {
    cursor: pointer;
}

#selected_weights {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 150px;
}

#left_weight{
    color: #F25757;
}

#right_weight{
    color: #f4e285;    
}